.content {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.input {
  resize: none;
  overflow: hidden;
  width: 100%;
  min-height: 80px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 12px 20px;
  font-family: unset;
  font-size: 16px;
  line-height: 160%;
}

.placeholder {
  color: #838383;
  font-family: unset;
  font-size: 16px;
  position: absolute;
  left: 22px;
  top: 16px;
  user-select: none;
  cursor: text;
}

.input:focus {
  border: 1px solid #838383;
  outline: none;
}
