.content {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  height: 50px;
  width: 100%;
  background: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding-left: calc(20px + 10px + 25px);
  padding-right: 20px;
}

.iconLeft {
  padding-left: 20px;
}

.typePassword {
  padding-right: calc(20px + 10px + 25px);
}

.input::placeholder {
  color: #838383;
  font-size: 16px;
}

.input:focus {
  border: 1px solid #838383;
  outline: none;
}

.icon {
  position: absolute;
  left: 20px;
  cursor: text;
}

.eye {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.eye:active {
  opacity: 0.5;
  transition: 0.1s ease-in;
}
